@page
@using NextGen.Mantenimiento.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model NextGen.Mantenimiento.Web.Pages.Departamentos.EditModalModel
@inject IStringLocalizer<MantenimientoResource> L
@{
    Layout = null;
}

<form asp-page="/Departamentos/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Departamento.Id" type="hidden" />
            <abp-input asp-for="Departamento.Nombre" />
            <abp-input asp-for="Departamento.NombreAbreviado" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
