@page
@model NextGen.Mantenimiento.Web.Pages.Personal.IndexModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NextGen.Mantenimiento.Localization.MantenimientoResource> L
@section scripts
{
    <abp-script src="/Pages/Personal/Index.js" />
}
@{

    <abp-card>
        <abp-card-header class="text-center">
            <h2 class="mb-0">@L["Menu:Empleados"]</h2>
        </abp-card-header>
        <abp-card-body>
            <abp-table striped-rows="true" id="Personal"></abp-table>
        </abp-card-body>
    </abp-card>
}
